body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
    background-image: url('../images/imagendefondoblanco.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 2300px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(255, 0, 0, 0.3);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #ff6666;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff6666;
}

header {
    background-color: #000000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

#servicios {
    padding: 40px 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    max-width: 90%;
    margin: 40px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    color: rgb(0, 0, 0);
}

#servicios h1 {
    text-align: center;
    color: #000000;
    margin-bottom: 30px;
    font-size: 2rem;
}

.servicios-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.servicio {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.servicio h2 {
    color: #ff6666;
    margin-bottom: 10px;
}

.servicio p {
    color: #ddd;
}

.contacto-form button, .boton-inicio, .boton-contacto {
    background: linear-gradient(45deg, #ff4d4d, #ff6666);
    color: white;
    border: none;
    padding: 14px 30px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    transition: transform 0.3s, box-shadow 0.3s;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.contacto-form button:hover, .boton-inicio:hover, .boton-contacto:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(255, 77, 77, 0.6);
}

@media (max-width: 768px) {
    .contacto-container {
        flex-direction: column;
        align-items: center;
    }
    .contacto-info, .contacto-form {
        flex-basis: 100%;
    }
    .servicios-grid {
        grid-template-columns: 1fr;
    }
}
